.button {
  background-color: lightgreen;
  height: 2em;
  color: green;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 2em;
  margin: 10px;
  z-index: 30;
}

.button-and-label {
  display: flex;
  flex-direction: column;
}
