.complete,
.restore,
.delete {
  width: 8em;
  height: 2em;
  margin: 0 10px 10px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.complete {
  background-color: greenyellow;
  color: #118811;
}

.restore {
  background-color: lightblue;
  color: blue;
}

.delete {
  background-color: #ff0000;
  color: #881111;
}
