.complete {
  background-color: greenyellow;
  width: 8em;
  height: 2em;
  color: #118811;
  margin: 0 10px 10px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.delete {
  background-color: red;
  width: 8em;
  height: 2em;
  color: #881111;
  margin: 0 10px 10px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
